@charset "UTF-8";

/* CSS Document */

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	overflow:hidden;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v12/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v12/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/* Div layer for the entire banner. */
#FloorAd {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 300px;
	left: 0px;
	margin: 0 auto;
}

#collapsed_content_dc {
	position: absolute;
	margin:0 auto;
	width:100%;
	left: 0px;
	bottom:0px;
	z-index: 100;
	display:none;
	background:#FFF;
}

#small_collapsed_content_dc{
	position: relative;
	width: 968px;
	height: 78px;
	margin:0 auto;
	z-index: 999;
}

#expanded_content_dc{
	position: relative;
	margin:0 auto;
	width:100%;
	bottom: 0px;
	left: 0px;
	z-index: 200;
	display:none;
	background:#FFF;
}

#small_expanded_content_dc{
	position: relative;
	margin:0 auto;
	width: 968px;
	height: 298px;
	top: 0px;
	left: 0px;
	z-index: 9999;	
}

#background_exit_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: 400;
	cursor:pointer;
}

#doubleclick_logo{
	position:relative;
	height:85px;
	width:360px;
	margin:20px auto;
	bottom:0px;
	background:#FFF url('RichMedia_logo.png') no-repeat;
}

#instructions
{
	margin: 16px 8px 16px 8px;
	text-align: center;
}

.outer
{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:1px solid #999;
}

.techlab-button{
	position: absolute;
	margin: 10px auto;
	bottom: 5px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
	z-index: 600;
	background: hsl(112, 50%, 60%);
	background-color: hsl(112, 50%, 60%);
	border: 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 5px hsl(113, 39%, 54%);
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;	
}

.techlab-button:active {
	background:hsl(113, 39%, 54%);
	background-color:hsl(113, 39%, 54%);
	margin-top: 5px;
	margin-bottom: 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 0 hsl(113, 39%, 54%);
}

.techlab-text {
	font-family: "Roboto", Verdana, Arial;
	font-size: 18px;
}

.large-button
{
	width:283px;
	height:65px;
}

.large-text
{
	font-size: 28px;
	line-height: 28px;
	font-weight: 700;
}

.medium-text
{
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
}

.large-button.techlab-text 
{
	max-width: 187px;
	font-family: "Roboto", Verdana, Arial;
	font-size: 18px;
}

.lightgray
{
	color: hsl(0, 0%, 94%);
}

.gray
{
	color: hsl(0, 0%, 27%);
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}